@page
@model WEB_253505_Shishov.Areas.Admin.Pages.IndexModel
@{
	ViewData["Title"] = "Index";
}
<div class="container">
	<p class="fs-3 fw-bold">Index</p>
	<a class="btn btn-primary" asp-area="Admin" asp-page="/Create">Create</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Description</th>
				<th scope="col">Price</th>
				<th scope="col">Picies</th>
				<th scope="col">Image</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model.Constructors)
			{
				<tr>
					<th scope="row">@item.Description</th>
					<td>@item.Price</td>
					<td>@item.Picies</td>
					<td><img src="@item.Image" style="max-width:150px;"/></td>
					<td>
						<a class="btn btn-primary" asp-area="Admin" asp-page="/Edit" asp-route-id="@item.Id">Edit</a>
						<a class="btn btn-primary" asp-area="Admin" asp-page="/Details" asp-route-id="@item.Id">Details</a>
						<a class="btn btn-primary" asp-area="Admin" asp-page="/Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>